

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-bottom: 2%;
}

.single-card-movie {
    width: 23%;
    margin-bottom: 20px;
}

.single-card-movie .card-img-top {
    width: 100%;
    height: auto;
    display: block;
}

.cardBody {
    padding: 10px 0;
}

.cardBody .card-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 8px;
}

.cardBody .card-text {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.4;
}

.TituloHome{
    display: inline-block;
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
    background-color: #3f4e5e;
    padding: 12px 24px;
    border-radius: 8px;
    margin: 20px 0 30px 20px;
}
 .link-verTodas {
    display: block;
    text-align: center;
    margin: 10px 0 20px 0;
    color: #3f4e5e;
    font-weight: 800;
    text-decoration: none;
    font-size: 20px;
}

.link-verTodas:hover {
    text-decoration: underline;
}

.link-Detalle {
    text-align: center;
    margin: 10px 0 20px 0;
    color: #3f4e5e;
    font-weight: 800;
    text-decoration: none;
    font-size: 15px;
}

.link-Detalle:hover {
    text-decoration: underline;
}

@media(min-width: 765px){
    nav {
        grid-template-columns: 1fr;
    }
}

